<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - <%= data[0].title %></title>
</head>
<body>
    <h1><%= data[0].title %></h1>
    <p><%= data[0].message %></p>
</body>
</html>