<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar - FutDosGugu</title>
</head>
<body>
    <div class="container">
        <div class="title">

        </div>
        <div class="box-form">
            <div class="signin">
                <form action="/entrar" method="post" id="form-signin" class="form-signin">
                    <label for="email-signin">Email:</label>
                    <input type="email" name="email-signin" id="email-signin">
                    <label for="password-signin">Senha:</label>
                    <input type="password" name="password-signin" id="password-signin">
                </form>
            </div>
            <div class="signup">
                <form action="/cadastrar" method="post" id="form-signup" class="form-signup">
                    <label for="username-signup">Nome:</label>
                    <input type="text" name="username-signup" id="username-signup">
                    <label for="email-signup">Email:</label>
                    <input type="email" name="email-signup" id="email-signup">
                    <label for="password-signup">Senha:</label>
                    <input type="password" name="password-signup" id="password-signup">
                    <label for="cpf-signup">CPF:</label>
                    <input type="text" name="cpf-signup" id="cpf-signup">
                    <label for="telefone-signup">Telefone:</label>
                    <input type="tel" name="telefone-signup" id="telefone-signup">
                    <label for="posicao-signup">posicao:</label>
                    <select name="posicao-signup" id="posicao-signup">
                        <option value="1">Goleiro</option>
                        <option value="2">Zagueiro</option>
                        <option value="3">Lateral</option>
                        <option value="4">Volante</option>
                        <option value="5">Meia</option>
                        <option value="6">Atacante</option>
                    </select>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>